.scrollTop {
    position: fixed;
    bottom: 3rem;
    left: 2.5rem;
    width: 2.5rem;
    height: 2.5rem;
    z-index: 4;
    cursor: pointer;
    opacity: 0;
}

.active {
    opacity: 1;
}